{
  "openapi" : "3.0.2",
  "info" : {
    "description" : "\n本リファレンスは登記・供託オンライン申請システムAPIリファレンスとなります。\n\n登記・供託オンライン申請システムAPIを利用することで、オンライン申請、処理状況の確認、公文書取得等を行うことができます。\n\n本リファレンスは「API一覧」と「リクエスト・レスポンス一覧」で構成されており、それぞれ以下の内容を記しています。\n\n■API一覧\n  \n  各APIの仕様について記しています。\n\n■リクエスト・レスポンス一覧\n  \n  各APIのリクエスト及びレスポンスの構造や各API共通で扱う共通エラーレスポンスの構造を記しています。なお、Exampleの値はSwaggerファイルと異なる表記となる場合がありますので、別途提供するSwaggerファイルをあわせて確認してください。\n\n共通エラーレスポンスは以下の4種類です。詳細についてはリクエスト・レスポンス一覧の内容を確認してください。\n\n  ・HTTP403（Forbidden）\n\n  ・HTTP404（Not Found）\n  \n  ・HTTP500（Internal Server Error）\n  \n  ・HTTP503（Service unavailable）\n  \n",
    "title" : "登記・供託オンライン申請システムAPI",
    "version" : "0.1"
  },
  "servers" : [ {
    "url" : "https://www.touki-kyoutaku-online.moj.go.jp/rs/api/v1"
  } ],
  "tags" : [ {
    "description" : "申請案件関連API",
    "name" : "applications"
  }, {
    "description" : "申請者関連API",
    "name" : "shinseisha"
  }, {
    "description" : "申請共通API",
    "name" : "misc"
  }, {
    "description" : "漢字検索API",
    "name" : "mc"
  } ],
  "paths" : {
    "/applications/submit_tandoku.json" : {
      "post" : {
        "description" : "単独申請を行う。",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubmitTandokuRequest"
              }
            }
          },
          "description" : "単独申請送信リクエストを設定する。",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubmitTandokuResponse"
                }
              }
            },
            "description" : "正常に処理終了した場合に単独申請送信レスポンスを返却する。",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubmitTandokuErrorResponse"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等に単独申請送信エラーレスポンスを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          }
        },
        "summary" : "単独申請案件送信",
        "tags" : [ "applications" ]
      }
    },
    "/applications/submit_renken.json" : {
      "post" : {
        "description" : "連件申請を行う。1回の送信で申請案件を1件ずつ送信する。連件申請の全ての申請案件がそろった段階で全ての申請案件の登録を行う。途中で1つでもエラーがあった場合、関連する全ての申請案件が破棄される。1つの連件については、全ての申請を連件申請案件送信により連続して送信する必要がある。1つの連件の申請が全て終了するか、エラーが起こるまで、別の連件についての連件申請案件送信、単独申請案件送信又は同時申請案件送信を行わないこと。\n",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubmitRenkenRequest"
              }
            }
          },
          "description" : "連件申請送信リクエストを設定する。",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubmitRenkenResponse"
                }
              }
            },
            "description" : "処理が正常終了し、受信したリクエストの\"seq\"と\"total\"の値が一致していない場合、連件申請送信レスポンスにデータを設定せずに返却する。\n\n処理が正常終了し、受信したリクエストの\"seq\"と\"total\"の値が一致している場合、連件申請送信レスポンスに申請された件数だけデータを設定し返却する。\n",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubmitRenkenErrorResponse"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等に連件申請送信エラーレスポンスを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          }
        },
        "summary" : "連件申請案件送信",
        "tags" : [ "applications" ]
      }
    },
    "/applications/{shinseiBango}/confirm_renken.json" : {
      "post" : {
        "description" : "連件の申請案件の確定又は取下げを行う。\n",
        "parameters" : [ {
          "description" : "申請番号。連件申請案件送信の戻り値であるshinseiBangoの一番若い番号を設定する。",
          "explode" : false,
          "in" : "path",
          "name" : "shinseiBango",
          "required" : true,
          "schema" : {
            "example" : "20190521115801001",
            "pattern" : "^[0-9]{17}$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConfirmRenkenRequest"
              }
            }
          },
          "description" : "連件意思確定リクエストを設定する。",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConfirmRenkenResponse"
                }
              }
            },
            "description" : "処理が終了した場合に、連件意識確定レスポンスを返却する。\n",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP400"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等にリクエストエラーを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP404"
                }
              }
            },
            "description" : "指定された申請番号の申請案件がない場合等に存在エラーを返却する。\n"
          }
        },
        "summary" : "連件意思確定",
        "tags" : [ "applications" ]
      }
    },
    "/applications/submit_douji.json" : {
      "post" : {
        "description" : "同時申請を行う。1回の送信で同時申請対象の申請案件を1件ずつ送信する。同時申請対象の全ての申請案件がそろった段階で全ての申請案件の登録を行う。途中で1つでもエラーがあった場合、関連する全ての申請案件が破棄される。1つの同時申請については、同時申請対象の全ての申請を同時申請案件送信により連続して送信する必要がある。同時申請対象の全ての申請が終了するか、エラーが起こるまで、別の同時申請についての同時申請案件送信、単独申請案件送信又は連件申請案件送信を行わないこと。\n",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubmitDoujiRequest"
              }
            }
          },
          "description" : "同時申請送信リクエストを設定する。",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubmitDoujiResponse"
                }
              }
            },
            "description" : "処理が正常終了し、受信したリクエストの\"seq\"と\"total\"の値が一致していない場合、同時申請送信レスポンスにデータを設定せずに返却する。\n\n\n処理が正常終了し、受信したリクエストの\"seq\"と\"total\"の値が一致している場合、同時申請送信レスポンスに申請された件数だけデータを設定し返却する。\n",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubmitDoujiErrorResponse"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等に同時申請送信エラーレスポンスを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          }
        },
        "summary" : "同時申請案件送信",
        "tags" : [ "applications" ]
      }
    },
    "/applications/{shinseiBango}/totatsu_joho.json" : {
      "get" : {
        "description" : "申請案件の到達通知を取得する。\n",
        "parameters" : [ {
          "description" : "申請番号",
          "explode" : false,
          "in" : "path",
          "name" : "shinseiBango",
          "required" : true,
          "schema" : {
            "example" : "20190521115801001",
            "pattern" : "^[0-9]{17}$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TotatsuJohoResponse"
                }
              }
            },
            "description" : "Parametersから取得した申請番号を元に処理を実施し正常終了した場合に、到達通知取得レスポンスを返却する。\n",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP400"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等にリクエストエラーを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP404"
                }
              }
            },
            "description" : "指定された申請番号の申請案件がない場合等に存在エラーを返却する。\n"
          }
        },
        "summary" : "到達通知取得",
        "tags" : [ "applications" ]
      }
    },
    "/applications/{shinseiBango}/nofu_joho.json" : {
      "get" : {
        "description" : "納付情報を取得する。\n",
        "parameters" : [ {
          "description" : "申請番号",
          "explode" : false,
          "in" : "path",
          "name" : "shinseiBango",
          "required" : true,
          "schema" : {
            "example" : "20190521115801001",
            "pattern" : "^[0-9]{17}$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NofuJohoResponse"
                }
              }
            },
            "description" : "Parametersから取得した申請番号を元に処理を実施し正常終了した場合、納付情報取得レスポンスを返却する。\n",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP400"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等にリクエストエラーを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP404"
                }
              }
            },
            "description" : "指定された申請番号の申請案件がない場合や処理状況照会にて返却値nofuJokyoがnullの申請案件に対して本処理を実施した場合等に存在エラーを返却する。\n"
          }
        },
        "summary" : "納付情報取得",
        "tags" : [ "applications" ]
      }
    },
    "/applications/retrieve_shori_jokyo.json" : {
      "post" : {
        "description" : "申請案件の処理状況を照会する。一度に問い合わせ可能な申請案件の数は1,000である。補正申請の受付年月日を取得する場合は、初回申請番号を指定すること。（※初回申請番号：補正申請を作成する際に、構成管理情報に設定する、補正元申請の申請番号。）\n",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RetrieveShoriJokyoRequest"
              }
            }
          },
          "description" : "処理状況照会リクエストを設定する。",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RetrieveShoriJokyoResponse"
                }
              }
            },
            "description" : "リクエストより取得した申請番号を元に処理を実施し正常終了した申請番号について、取得した処理状況を処理状況照会レスポンスに設定し返却する。\n",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP400"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等にリクエストエラーを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          }
        },
        "summary" : "処理状況照会",
        "tags" : [ "applications" ]
      }
    },
    "/applications/{shinseiBango}/juryo_joho.json" : {
      "get" : {
        "description" : "受領通知を取得する。補正申請の受領通知を取得する場合は、初回申請番号を指定すること。（※初回申請番号：補正申請を作成する際に、構成管理情報に設定する、補正元申請の申請番号。\n",
        "parameters" : [ {
          "description" : "申請番号",
          "explode" : false,
          "in" : "path",
          "name" : "shinseiBango",
          "required" : true,
          "schema" : {
            "example" : "20190521115801001",
            "pattern" : "^[0-9]{17}$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JuryoJohoResponse"
                }
              }
            },
            "description" : "Parametersから取得した申請番号を元に処理を実施し正常終了した場合、受領通知取得レスポンスを返却する。\n",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP400"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等にリクエストエラーを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP404"
                }
              }
            },
            "description" : "指定された申請番号の申請案件がない場合、申請案件に受領通知がない場合等に存在エラーを返却する。\n"
          }
        },
        "summary" : "受領通知取得",
        "tags" : [ "applications" ]
      }
    },
    "/applications/{shinseiBango}/oshirase/{oshiraseTsuban}.json" : {
      "get" : {
        "description" : "お知らせを取得する。登記識別情報通知・未失効回答のお知らせの取得は、登記識別情報通知・未失効回答取得で行う。\n",
        "parameters" : [ {
          "description" : "申請番号",
          "explode" : false,
          "in" : "path",
          "name" : "shinseiBango",
          "required" : true,
          "schema" : {
            "example" : "20190521115801001",
            "pattern" : "^[0-9]{17}$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "お知らせ通番。処理状況照会で取得したお知らせ通数を元に、取得したいお知らせの番号を指定する。",
          "explode" : false,
          "in" : "path",
          "name" : "oshiraseTsuban",
          "required" : true,
          "schema" : {
            "example" : 1,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OshiraseResponse"
                }
              }
            },
            "description" : "Parametersから取得した申請番号と、お知らせ通番を元に処理を実施し正常終了した場合、取得したお知らせ取得レスポンスを返却する。",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP400"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等にリクエストエラーを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP404"
                }
              }
            },
            "description" : "指定された申請番号の申請案件がない場合やお知らせがない場合等に存在エラーを返却する。\n"
          }
        },
        "summary" : "お知らせ取得",
        "tags" : [ "applications" ]
      }
    },
    "/applications/{shinseiBango}/oshirase_tempu/{oshiraseTsuban}.json" : {
      "get" : {
        "description" : "お知らせ情報に添付されたファイルを取得する。\n",
        "parameters" : [ {
          "description" : "申請番号",
          "explode" : false,
          "in" : "path",
          "name" : "shinseiBango",
          "required" : true,
          "schema" : {
            "example" : "20190521115801001",
            "pattern" : "^[0-9]{17}$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "お知らせ通番。処理状況照会で取得したお知らせ通数を元に、取得したいお知らせの番号を指定する。",
          "explode" : false,
          "in" : "path",
          "name" : "oshiraseTsuban",
          "required" : true,
          "schema" : {
            "example" : 1,
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OshiraseTempuResponse"
                }
              }
            },
            "description" : "Parametersから取得した申請番号と、お知らせ通番を元に処理を実施し正常終了した場合、取得したお知らせ添付ファイル取得レスポンスを返却する。",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP400"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等にリクエストエラーを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP404"
                }
              }
            },
            "description" : "指定された申請番号の申請案件がない場合やお知らせがない場合等に存在エラーを返却する。\n"
          }
        },
        "summary" : "お知らせ添付ファイル取得",
        "tags" : [ "applications" ]
      }
    },
    "/applications/{shinseiBango}/kobunsho.json" : {
      "delete" : {
        "description" : "公文書の受領を登記・供託オンライン申請システムに通知し、手続を終了する。公文書を受領した場合は直ちに本処理を実行すること（不動産の登記識別情報通知ダウンロード様式を別途送信する必要がある手続を除く）。\n",
        "parameters" : [ {
          "description" : "申請番号",
          "explode" : false,
          "in" : "path",
          "name" : "shinseiBango",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9]{17}$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KobunshoDeleteResponse"
                }
              }
            },
            "description" : "Parametersから取得した申請番号を元に処理を行い処理が終了した場合に、手続終了レスポンスを返却する。\n",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP400"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等にリクエストエラーを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP404"
                }
              }
            },
            "description" : "指定された申請番号の申請案件がない場合や公文書がない場合等に存在エラーを返却する。\n"
          }
        },
        "summary" : "手続終了",
        "tags" : [ "applications" ]
      },
      "get" : {
        "description" : "公文書を取得する。一度本処理で公文書の取得に成功した場合は、再度同一申請番号で本処理を呼ばないよう制御すること。\n",
        "parameters" : [ {
          "description" : "申請番号",
          "explode" : false,
          "in" : "path",
          "name" : "shinseiBango",
          "required" : true,
          "schema" : {
            "example" : "20190521115801001",
            "pattern" : "^[0-9]{17}$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KobunshoResponse"
                }
              }
            },
            "description" : "Parametersより取得した申請番号を元に処理を実施し、正常終了した場合、公文書取得レスポンスを返却する。\n",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP400"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等にリクエストエラーを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP404"
                }
              }
            },
            "description" : "指定された申請番号の申請案件がない場合や公文書がない場合に存在エラーを返却する。\n\nまた、公文書取得期限を過ぎている場合も存在エラーを返却する。\n"
          }
        },
        "summary" : "公文書取得",
        "tags" : [ "applications" ]
      }
    },
    "/applications/{shinseiBango}/mishikkou.json" : {
      "delete" : {
        "description" : "登記識別情報通知・未失効照会の手続において、登記識別情報通知・未失効回答のお知らせの受領を登記・供託オンライン申請システムに通知し、手続を終了する。登記識別情報通知・未失効回答取得のお知らせの取得に成功した場合のみ本処理を実行すること。\n",
        "parameters" : [ {
          "description" : "申請番号",
          "explode" : false,
          "in" : "path",
          "name" : "shinseiBango",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9]{17}$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MishikkouDeleteResponse"
                }
              }
            },
            "description" : "Parametersから取得した申請番号を元に処理を行い処理が終了した場合に、登記識別情報通知・未失効回答取得済み通知レスポンスを返却する。\n",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP400"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等にリクエストエラーを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP404"
                }
              }
            },
            "description" : "指定された申請番号の申請案件がない場合又は申請案件の手続IDが登記識別情報通知・未失効照会以外の場合等に存在エラーを返却する。\n"
          }
        },
        "summary" : "登記識別情報通知・未失効回答取得済通知",
        "tags" : [ "applications" ]
      },
      "get" : {
        "description" : "登記識別情報通知・未失効照会の手続において、登記識別情報通知・未失効回答のお知らせを取得する。また、正常に登記識別情報通知・未失効回答のお知らせの取得に成功した場合は、直ちに登記識別情報通知・未失効回答取得済通知を行うこと。\n",
        "parameters" : [ {
          "description" : "申請番号",
          "explode" : false,
          "in" : "path",
          "name" : "shinseiBango",
          "required" : true,
          "schema" : {
            "example" : "20190521115801001",
            "pattern" : "^[0-9]{17}$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MishikkouResponse"
                }
              }
            },
            "description" : "Parametersから取得した申請番号を元に処理を実施し、正常終了した場合、登記識別情報通知・未失効回答取得レスポンスを返却する。\n",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP400"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等にリクエストエラーを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP404"
                }
              }
            },
            "description" : "指定された申請番号の申請案件がない場合や申請案件の手続IDが登記識別情報通知・未失効照会以外の場合等に存在エラーを返却する。\n"
          }
        },
        "summary" : "登記識別情報通知・未失効回答取得",
        "tags" : [ "applications" ]
      }
    },
    "/applications/{shinseiBango}/encrypt_nofu_joho.json" : {
      "post" : {
        "description" : "納付情報を暗号化する。暗号化した納付情報は、電子納付情報WEBサイトとの連携におけるパラメータとして使用する。詳細については、アプリケーション仕様編「4.4　電子納付情報WEBサイトとの連携」を参照。\n",
        "parameters" : [ {
          "description" : "申請番号",
          "explode" : false,
          "in" : "path",
          "name" : "shinseiBango",
          "required" : true,
          "schema" : {
            "example" : "20190521115801001",
            "pattern" : "^[0-9]{17}$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EncryptNofuJohoRequest"
              }
            }
          },
          "description" : "納付情報暗号化リクエストを設定する。",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EncryptNofuJohoResponse"
                }
              }
            },
            "description" : "リクエストから取得した納付番号と確認番号を元に処理を実施し、正常終了した場合、納付情報暗号化レスポンスを返却する。",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP400"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等にリクエストエラーを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP404"
                }
              }
            },
            "description" : "指定された申請番号の申請案件がない場合に存在エラーを返却する。\n\nまた、納付番号・確認番号がない場合等も存在エラーを返却する。\n"
          }
        },
        "summary" : "納付情報暗号化",
        "tags" : [ "applications" ]
      }
    },
    "/shinseisha.json" : {
      "get" : {
        "description" : "ログインしている申請者の氏名と氏名カナを取得する。（本APIはパラメータ不要）",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShinseishaResponse"
                }
              }
            },
            "description" : "リクエスト（Authorizationヘッダ）より取得した申請者IDを元に処理を実行し、正常終了した場合、申請者情報取得レスポンスを返却する。\n",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          }
        },
        "summary" : "申請者情報取得",
        "tags" : [ "shinseisha" ]
      }
    },
    "/misc/verify_certificate.json" : {
      "post" : {
        "description" : "電子証明書の有効性を検証する。対応する電子証明書はX.509v3形式で、エンコーディングはDER又はPEMである。\n",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VerifyCertificateRequest"
              }
            }
          },
          "description" : "証明書検証リクエストを設定する。",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VerifyCertificateResponse"
                }
              }
            },
            "description" : "リクエストより取得した電子証明書ファイルを検証し処理が終了した場合に、その検証結果を証明書検証レスポンスに設定し返却する。\n",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP400"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等にリクエストエラーを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          }
        },
        "summary" : "証明書検証",
        "tags" : [ "misc" ]
      }
    },
    "/misc/confirm_bukken_joho.json" : {
      "post" : {
        "description" : "物件情報の確認を行う。一度に問い合わせ可能な物件情報の数は100である。\n",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConfirmBukkenJohoRequest"
              }
            }
          },
          "description" : "物件情報確認リクエストを設定する。",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConfirmBukkenJohoResponse"
                }
              }
            },
            "description" : "リクエストより取得した物件情報とエラー発生時処理続行フラグを元に処理を実行し処理が終了した場合に、確認結果を物件情報確認レスポンスに設定し返却する。",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP400"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等にリクエストエラーを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          }
        },
        "summary" : "物件情報確認",
        "tags" : [ "misc" ]
      }
    },
    "/mc/koseki/yomi.json" : {
      "get" : {
        "description" : "読み方による戸籍統一文字の漢字文字画像検索を行う。\n",
        "parameters" : [ {
          "description" : "漢字の読み方１。任意の全角ひらがなを設定する。※読み方を指定しない場合、空値を設定すること。全角ひらがな以外を設定した場合、検索結果は０件となる。",
          "explode" : true,
          "in" : "query",
          "name" : "yomi1",
          "required" : false,
          "schema" : {
            "example" : "よみ",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "漢字の読み方２。任意の全角ひらがなを設定する。※読み方を指定しない場合、空値を設定すること。全角ひらがな以外を設定した場合、検索結果は０件となる。",
          "explode" : true,
          "in" : "query",
          "name" : "yomi2",
          "required" : false,
          "schema" : {
            "example" : "よみ",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "漢字の読み方３。任意の全角ひらがなを設定する。※読み方を指定しない場合、空値を設定すること。全角ひらがな以外を設定した場合、検索結果は０件となる。",
          "explode" : true,
          "in" : "query",
          "name" : "yomi3",
          "required" : false,
          "schema" : {
            "example" : "よみ",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "読み方１～３の検索条件を指定する。設定可能な演算子は、“AND”又は“OR”（半角大文字）のいずれかとする。未指定の場合、“OR”を指定した場合と同様となる。",
          "explode" : true,
          "in" : "query",
          "name" : "yomisOperant",
          "required" : false,
          "schema" : {
            "example" : "AND",
            "pattern" : "^AND$|^OR$",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "漢字の画数。",
          "explode" : true,
          "in" : "query",
          "name" : "kakusu",
          "required" : false,
          "schema" : {
            "example" : "4",
            "pattern" : "^[0-9]+$",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "kakusuに指定した画数の±１画を検索対象とするかのフラグ。検索対象とする場合は“true”、検索対象としない場合は“false”を設定する。※kakusuが未設定の場合でも、必ず“true”か“false”を設定すること。",
          "explode" : true,
          "in" : "query",
          "name" : "kakusuMargin",
          "required" : true,
          "schema" : {
            "example" : false,
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "漢字の部首グループコード。部首グループコードについては「【付録】部首グループコード一覧」を参照",
          "explode" : true,
          "in" : "query",
          "name" : "radicalGroupCode",
          "required" : false,
          "schema" : {
            "example" : "001",
            "pattern" : "^[0-9]{3}$",
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CharacterKosekiResponse"
                }
              }
            },
            "description" : "Parametersから取得した各情報を元に処理を実施し、正常終了した場合、検索結果を戸籍統一文字検索レスポンスに設定し返却する。",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP400"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等にリクエストエラーを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          }
        },
        "summary" : "漢字検索（戸籍統一文字用読み方検索）",
        "tags" : [ "mc" ]
      }
    },
    "/mc/koseki/code.json" : {
      "get" : {
        "description" : "戸籍統一文字コード及び諸橋大漢和辞典コードによる戸籍統一文字の漢字文字画像検索を行う。",
        "parameters" : [ {
          "description" : "文字コードセット（0:諸橋大漢和辞典、1:戸籍統一文字）。",
          "explode" : true,
          "in" : "query",
          "name" : "charset",
          "required" : true,
          "schema" : {
            "example" : 0,
            "maximum" : 1,
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "文字コード。指定したコードが存在しない場合、検索結果は０件となる。",
          "explode" : true,
          "in" : "query",
          "name" : "code",
          "required" : true,
          "schema" : {
            "example" : "131800",
            "pattern" : "^([0-9]{6}|[0-9]{1,5}(-[12])?)$",
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CharacterKosekiResponse"
                }
              }
            },
            "description" : "Parametersから取得した各情報を元に処理を実施し、正常終了した場合、検索結果を戸籍統一文字検索レスポンスに設定し返却する。",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP400"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等にリクエストエラーを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          }
        },
        "summary" : "漢字検索（戸籍統一文字用コード検索）",
        "tags" : [ "mc" ]
      }
    },
    "/mc/toki/yomi.json" : {
      "get" : {
        "description" : "読み方による登記統一文字の漢字文字画像検索を行う。",
        "parameters" : [ {
          "description" : "漢字の読み方１。任意の全角ひらがなを設定する。※読み方を指定しない場合、空値を設定すること。全角ひらがな以外を設定した場合、検索結果は０件となる。",
          "explode" : true,
          "in" : "query",
          "name" : "yomi1",
          "required" : false,
          "schema" : {
            "example" : "よみ",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "漢字の読み方２。任意の全角ひらがなを設定する。※読み方を指定しない場合、空値を設定すること。全角ひらがな以外を設定した場合、検索結果は０件となる。",
          "explode" : true,
          "in" : "query",
          "name" : "yomi2",
          "required" : false,
          "schema" : {
            "example" : "よみ",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "漢字の読み方３。任意の全角ひらがなを設定する。※読み方を指定しない場合、空値を設定すること。全角ひらがな以外を設定した場合、検索結果は０件となる。",
          "explode" : true,
          "in" : "query",
          "name" : "yomi3",
          "required" : false,
          "schema" : {
            "example" : "よみ",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "読み方１～３の検索条件を指定する。設定可能な演算子は、“AND”又は“OR”（半角大文字）のいずれかとする。未指定の場合、“OR”を指定した場合と同様となる。",
          "explode" : true,
          "in" : "query",
          "name" : "yomisOperant",
          "required" : false,
          "schema" : {
            "example" : "AND",
            "pattern" : "^AND$|^OR$",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "漢字の画数。",
          "explode" : true,
          "in" : "query",
          "name" : "kakusu",
          "required" : false,
          "schema" : {
            "example" : "4",
            "pattern" : "^[0-9]+$",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "kakusuに指定した画数の±１画を検索対象とするかのフラグ。検索対象とする場合は“true”、検索対象としない場合は“false”を設定する。※kakusuが未設定の場合でも、必ず“true”か“false”を設定すること。",
          "explode" : true,
          "in" : "query",
          "name" : "kakusuMargin",
          "required" : true,
          "schema" : {
            "example" : false,
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "漢字の部首グループコード。部首グループコードについては「【付録】部首グループコード一覧」を参照",
          "explode" : true,
          "in" : "query",
          "name" : "radicalGroupCode",
          "required" : false,
          "schema" : {
            "example" : "001",
            "pattern" : "^[0-9]{3}$",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "検索単位数。1単位ごとに50件の検索を行う。",
          "explode" : true,
          "in" : "query",
          "name" : "searchPage",
          "required" : true,
          "schema" : {
            "example" : 1,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CharacterTokiResponse"
                }
              }
            },
            "description" : "Parametersから取得した各情報を元に処理を実施し、正常終了した場合、検索結果を登記統一文字検索レスポンスに設定し返却する。",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP400"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等にリクエストエラーを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          }
        },
        "summary" : "漢字検索（登記統一文字用読み方検索）",
        "tags" : [ "mc" ]
      }
    },
    "/mc/toki/code.json" : {
      "get" : {
        "description" : "戸籍統一文字コード及び諸橋大漢和辞典コードによる登記統一文字の漢字文字画像検索を行う。",
        "parameters" : [ {
          "description" : "文字コードセット（0:諸橋大漢和辞典、1:戸籍統一文字）。",
          "explode" : true,
          "in" : "query",
          "name" : "charset",
          "required" : true,
          "schema" : {
            "example" : 0,
            "maximum" : 1,
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "文字コード。指定したコードが存在しない場合、検索結果は０件となる。",
          "explode" : true,
          "in" : "query",
          "name" : "code",
          "required" : true,
          "schema" : {
            "example" : "131800",
            "pattern" : "^([0-9]{6}|[0-9]{1,5}(-[12])?)$",
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CharacterTokiResponse"
                }
              }
            },
            "description" : "Parametersから取得した各情報を元に処理を実施し、正常終了した場合、検索結果を登記統一文字検索レスポンスに設定し返却する。",
            "headers" : {
              "X-PasswordKoushinTsuchi" : {
                "$ref" : "#/components/headers/X-PasswordKoushinTsuchi"
              },
              "X-PasswordYukoKigen" : {
                "$ref" : "#/components/headers/X-PasswordYukoKigen"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP400"
                }
              }
            },
            "description" : "パラメータに誤りがある場合等にリクエストエラーを返却する。\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTP401"
                }
              }
            },
            "description" : "ユーザIDやパスワードに誤りがある場合等に認証エラーを返却する。\n",
            "headers" : {
              "X-LoginError" : {
                "$ref" : "#/components/headers/X-LoginError"
              }
            }
          }
        },
        "summary" : "漢字検索（登記統一文字用コード検索）",
        "tags" : [ "mc" ]
      }
    }
  },
  "components" : {
    "headers" : {
      "X-PasswordKoushinTsuchi" : {
        "description" : "パスワード更新通知ヘッダ\n\n通知が必要な場合の当該ヘッダの値は”1”とし、通知が不要な場合の当該ヘッダの値は”0”とする。\n",
        "explode" : false,
        "schema" : {
          "example" : "1",
          "type" : "string"
        },
        "style" : "simple"
      },
      "X-PasswordYukoKigen" : {
        "description" : "パスワード有効期限通知ヘッダ\n\nX-PasswordKoushinTsuchiの値が”1”の場合のみ設定されるヘッダ。当該認証のパスワードの有効期限の形式を“yyyy.MM.dd HH:mm:ss”で返却する。\n",
        "explode" : false,
        "schema" : {
          "example" : "2019-05-21T10:44:15+09:00",
          "format" : "date-time",
          "type" : "string"
        },
        "style" : "simple"
      },
      "X-LoginError" : {
        "description" : "ログインエラー通知ヘッダ\n\nアカウントロック時の値は“ACCOUNT_LOCK_ERROR”、パスワード有効期限超過時の値は“PASSWORD_YUKO_KIGEN_ERROR”、アカウントロック時かつパスワード有効期限超過時の値は“ACCOUNT_LOCK_ERROR”とする。\n",
        "explode" : false,
        "schema" : {
          "example" : "ACCOUNT_LOCK_ERROR",
          "type" : "string"
        },
        "style" : "simple"
      }
    },
    "schemas" : {
      "SubmitTandokuRequest" : {
        "description" : "単独申請送信リクエスト",
        "example" : {
          "tokishoCode" : "0100",
          "data" : "data"
        },
        "properties" : {
          "data" : {
            "description" : "ZIP形式でまとめられた申請データ",
            "format" : "byte",
            "type" : "string"
          },
          "tokishoCode" : {
            "description" : "申請の宛先となる登記所のコード",
            "example" : "0100",
            "pattern" : "^[0-9]{4}$",
            "type" : "string"
          }
        },
        "required" : [ "data" ],
        "type" : "object"
      },
      "SubmitTandokuResponse" : {
        "description" : "単独申請送信レスポンス",
        "example" : {
          "saishuKoshinNichiji" : "2019-05-21T10:44:15.111+09:00",
          "shinseiBango" : "20190521115801001"
        },
        "properties" : {
          "saishuKoshinNichiji" : {
            "description" : "申請案件の最終更新日時",
            "example" : "2019-05-21T10:44:15.111+09:00",
            "format" : "date-time",
            "type" : "string"
          },
          "shinseiBango" : {
            "description" : "申請案件の申請番号",
            "example" : "20190521115801001",
            "pattern" : "^[0-9]{17}$",
            "type" : "string"
          }
        },
        "required" : [ "saishuKoshinNichiji", "shinseiBango" ],
        "type" : "object"
      },
      "SubmitTandokuErrorResponse" : {
        "description" : "単独申請送信エラーレスポンス\n\nパラメータに誤りがある場合等に返却する。\n",
        "properties" : {
          "status" : {
            "description" : "HTTPステータスコード",
            "example" : 400,
            "type" : "integer"
          },
          "title" : {
            "description" : "エラー名称",
            "example" : "Bad Request",
            "type" : "string"
          },
          "errorMessage" : {
            "description" : "エラーメッセージ（エラーコードに応じたエラー内容を返却する。）",
            "example" : "申請データに含まれるファイルのサイズが制限を超えています。",
            "type" : "string"
          },
          "errorCode" : {
            "description" : "エラーコード：\n\n- 1・・・添付ファイルの数が制限を超えている\n\n\n- 2・・・申請データに含まれるファイルのサイズが制限を超えている\n\n\n- 3・・・申請データのファイルサイズが制限を超えている\n\n\n- 4・・・申請データにコンピュータ・ウィルスが含まれていた\n\n\n- 5・・・連件申請のパラメータが不正（この処理では返却しない）\n\n\n- 6・・・登記所コードの形式が不正\n\n\n- 7・・・手続きが無効\n\n\n- 8・・・非常時運用のため、送信された申請案件を受け付けられない\n\n\n- 9・・・申請データのファイル名の長さが制限を超えている\n\n\n- 10・・・index.rdf内初回申請番号が不正\n\n\n- 11・・・同時申請のパラメータが不正（この処理では返却しない）\n\n\n- 12・・・同時申請対象の申請データの組み合わせが不正（この処理では返却しない）\n\n\n- 13・・・申請書様式が存在しないか、ファイル名が不正\n",
            "example" : 2,
            "type" : "integer"
          }
        },
        "required" : [ "errorCode", "errorMessage", "status", "title" ],
        "type" : "object"
      },
      "SubmitRenkenRequest" : {
        "description" : "連件申請送信リクエスト",
        "example" : {
          "tokishoCode" : "0100",
          "dojuniBango" : 1,
          "total" : 2,
          "data" : "data",
          "seq" : 1
        },
        "properties" : {
          "data" : {
            "description" : "ZIP形式でまとめられた申請データ",
            "format" : "byte",
            "type" : "string"
          },
          "tokishoCode" : {
            "description" : "申請の宛先となる登記所のコード",
            "example" : "0100",
            "pattern" : "^[0-9]{4}$",
            "type" : "string"
          },
          "seq" : {
            "description" : "この連件申請の中での順番。1から始めて送信のたびに1ずつ増やすこと。",
            "example" : 1,
            "minimum" : 1,
            "type" : "integer"
          },
          "total" : {
            "description" : "この連件申請で申請する申請案件の数。毎回同じ値を指定すること。設定する値は２以上であること。",
            "example" : 2,
            "minimum" : 2,
            "type" : "integer"
          },
          "dojuniBango" : {
            "description" : "申請案件の同順位番号",
            "example" : 1,
            "minimum" : 1,
            "type" : "integer"
          }
        },
        "required" : [ "data", "dojuniBango", "seq", "tokishoCode", "total" ],
        "type" : "object"
      },
      "SubmitRenkenResponse" : {
        "description" : "連件申請送信レスポンス",
        "example" : {
          "results" : [ {
            "saishuKoshinNichiji" : "2019-05-21T10:44:15.111+09:00",
            "shinseiBango" : "20190521115801001"
          }, {
            "saishuKoshinNichiji" : "2019-05-21T10:44:15.111+09:00",
            "shinseiBango" : "20190521115801001"
          } ]
        },
        "properties" : {
          "results" : {
            "items" : {
              "$ref" : "#/components/schemas/SubmitRenkenResponse_results"
            },
            "type" : "array"
          }
        },
        "type" : "object"
      },
      "SubmitRenkenErrorResponse" : {
        "description" : "連件申請送信エラーレスポンス\n\nパラメータに誤りがある場合等に返却する。\n",
        "properties" : {
          "status" : {
            "description" : "HTTPステータスコード",
            "example" : 400,
            "type" : "integer"
          },
          "title" : {
            "description" : "エラー名称",
            "example" : "Bad Request",
            "type" : "string"
          },
          "errorMessage" : {
            "description" : "エラーメッセージ（エラーコードに応じたエラー内容を返却する。）",
            "example" : "申請データに含まれるファイルのサイズが制限を超えています。",
            "type" : "string"
          },
          "errorCode" : {
            "description" : "エラーコード：\n\n- 1・・・添付ファイルの数が制限を超えている\n\n\n- 2・・・申請データに含まれるファイルのサイズが制限を超えている\n\n\n- 3・・・申請データのファイルサイズが制限を超えている\n\n\n- 4・・・申請データにコンピュータ・ウィルスが含まれていた\n\n\n- 5・・・連件申請のパラメータが不正\n\n\n- 6・・・登記所コードの形式が不正\n\n\n- 7・・・手続きが無効\n\n\n- 8・・・非常時運用のため、送信された申請案件を受け付けられない\n\n\n- 9・・・申請データのファイル名の長さが制限を超えている\n\n\n- 10・・・index.rdf内初回申請番号が不正\n\n\n- 11・・・同時申請のパラメータが不正（この処理では返却しない）\n\n\n- 12・・・同時申請対象の申請データの組み合わせが不正（この処理では返却しない）\n\n\n- 13・・・申請書様式が存在しないか、ファイル名が不正\n",
            "example" : 2,
            "type" : "integer"
          }
        },
        "required" : [ "errorCode", "errorMessage", "status", "title" ],
        "type" : "object"
      },
      "ConfirmRenkenRequest" : {
        "description" : "連件意思確定リクエスト",
        "example" : {
          "decision" : true
        },
        "properties" : {
          "decision" : {
            "description" : "意思。連件申請を確定する場合はtrue、取下げる場合はfalseを設定する。",
            "type" : "boolean"
          }
        },
        "required" : [ "decision" ],
        "type" : "object"
      },
      "ConfirmRenkenResponse" : {
        "description" : "連件意思確定レスポンス",
        "example" : {
          "result" : true
        },
        "properties" : {
          "result" : {
            "description" : "処理が正常終了した場合はtrue、そうでない場合はfalseを返す。",
            "type" : "boolean"
          }
        },
        "required" : [ "result" ],
        "type" : "object"
      },
      "SubmitDoujiRequest" : {
        "description" : "同時申請送信リクエスト",
        "example" : {
          "tokishoCode" : "0100",
          "total" : 2,
          "data" : "data",
          "seq" : 1
        },
        "properties" : {
          "data" : {
            "description" : "ZIP形式でまとめられた申請データ",
            "format" : "byte",
            "type" : "string"
          },
          "tokishoCode" : {
            "description" : "申請の宛先となる登記所のコード",
            "example" : "0100",
            "pattern" : "^[0-9]{4}$",
            "type" : "string"
          },
          "seq" : {
            "description" : "この同時申請の中での順番。1から始めて送信のたびに1ずつ増やすこと。",
            "example" : 1,
            "minimum" : 1,
            "type" : "integer"
          },
          "total" : {
            "description" : "この同時申請で申請する申請案件の数。毎回同じ値を指定すること。設定する値は２以上であること。",
            "example" : 2,
            "minimum" : 2,
            "type" : "integer"
          }
        },
        "required" : [ "data", "seq", "total" ],
        "type" : "object"
      },
      "SubmitDoujiResponse" : {
        "description" : "同時申請送信レスポンス",
        "example" : {
          "results" : [ {
            "saishuKoshinNichiji" : "2019-05-21T10:44:15.111+09:00",
            "shinseiBango" : "20190521115801001"
          }, {
            "saishuKoshinNichiji" : "2019-05-21T10:44:15.111+09:00",
            "shinseiBango" : "20190521115801001"
          } ]
        },
        "properties" : {
          "results" : {
            "items" : {
              "$ref" : "#/components/schemas/SubmitDoujiResponse_results"
            },
            "type" : "array"
          }
        },
        "type" : "object"
      },
      "SubmitDoujiErrorResponse" : {
        "description" : "同時申請送信エラーレスポンス\n\nパラメータに誤りがある場合等に返却する。\n",
        "properties" : {
          "status" : {
            "description" : "HTTPステータスコード",
            "example" : 400,
            "type" : "integer"
          },
          "title" : {
            "description" : "エラー名称",
            "example" : "Bad Request",
            "type" : "string"
          },
          "errorMessage" : {
            "description" : "エラーメッセージ（エラーコードに応じたエラー内容を返却する。）",
            "example" : "申請データに含まれるファイルのサイズが制限を超えています。",
            "type" : "string"
          },
          "errorCode" : {
            "description" : "エラーコード：\n\n- 1・・・添付ファイルの数が制限を超えている\n\n\n- 2・・・申請データに含まれるファイルのサイズが制限を超えている\n\n\n- 3・・・申請データのファイルサイズが制限を超えている\n\n\n- 4・・・申請データにコンピュータ・ウィルスが含まれていた\n\n\n- 5・・・連件申請のパラメータが不正\n\n\n- 6・・・登記所コードの形式が不正\n\n\n- 7・・・手続きが無効\n\n\n- 8・・・非常時運用のため、送信された申請案件を受け付けられない\n\n\n- 9・・・申請データのファイル名の長さが制限を超えている\n\n\n- 10・・・index.rdf内初回申請番号が不正\n\n\n- 11・・・同時申請のパラメータが不正\n\n\n- 12・・・同時申請対象の申請データの組み合わせが不正\n\n\n- 13・・・申請書様式が存在しないか、ファイル名が不正\n",
            "example" : 2,
            "type" : "integer"
          }
        },
        "required" : [ "errorCode", "errorMessage", "status", "title" ],
        "type" : "object"
      },
      "TotatsuJohoResponse" : {
        "description" : "到達通知取得レスポンス",
        "example" : {
          "totatsuNichiji" : "2019-05-21T10:44:15.111+09:00",
          "totatsuTsuchi" : "totatsuTsuchi",
          "uketsukeKekka" : 0
        },
        "properties" : {
          "totatsuNichiji" : {
            "description" : "到達日時",
            "example" : "2019-05-21T10:44:15.111+09:00",
            "format" : "date-time",
            "type" : "string"
          },
          "totatsuTsuchi" : {
            "description" : "到達通知ファイル。HTMLファイル。",
            "format" : "byte",
            "type" : "string"
          },
          "uketsukeKekka" : {
            "description" : "受付結果：\n\n- 0・・・正常\n\n\n- 1・・・形式チェックエラー\n\n\n- 2・・・手続きIDエラー\n\n\n- 3・・・大量請求制限エラー\n\n\n- 4・・・添付ファイル拡張子エラー\n\n\n- 5・・・添付ファイル必須エラー\n\n\n- 6・・・提出先エラー\n\n\n- 7・・・初回申請番号エラー\n\n\n- 8・・・初回申請番号処理状況エラー\n\n\n- 9・・・署名検証エラー\n\n\n- 10・・・証明書検証エラー\n\n\n- 11・・・登記権利者特定エラー\n",
            "example" : 0,
            "type" : "integer"
          }
        },
        "required" : [ "totatsuTsuchi", "uketsukeKekka" ],
        "type" : "object"
      },
      "NofuJohoResponse" : {
        "description" : "納付情報取得レスポンス",
        "example" : {
          "results" : [ {
            "kakuninBango" : "123456",
            "nofuGaku" : 500,
            "shunoKikanBango" : "00100",
            "nofuKikanSaishuNengappi" : "2019-05-21T00:00:00+09:00",
            "nofuJohoHakkoNichiji" : "2019-05-21T00:00:00+09:00",
            "nofuNichiji" : "2019-05-21T00:00:00+09:00",
            "nofuBango" : "1234567890123456    ",
            "nofuJokyo" : 0
          }, {
            "kakuninBango" : "123456",
            "nofuGaku" : 500,
            "shunoKikanBango" : "00100",
            "nofuKikanSaishuNengappi" : "2019-05-21T00:00:00+09:00",
            "nofuJohoHakkoNichiji" : "2019-05-21T00:00:00+09:00",
            "nofuNichiji" : "2019-05-21T00:00:00+09:00",
            "nofuBango" : "1234567890123456    ",
            "nofuJokyo" : 0
          } ]
        },
        "properties" : {
          "results" : {
            "items" : {
              "$ref" : "#/components/schemas/NofuJohoResponse_results"
            },
            "type" : "array"
          }
        },
        "required" : [ "results" ],
        "type" : "object"
      },
      "RetrieveShoriJokyoRequest" : {
        "description" : "処理状況照会リクエスト。一度に問い合わせ可能な申請案件の数は1,000件まで。",
        "example" : {
          "shinseiBangos" : [ "20190521115801001", "20190521115801001" ]
        },
        "properties" : {
          "shinseiBangos" : {
            "description" : "申請番号",
            "items" : {
              "example" : "20190521115801001",
              "pattern" : "^[0-9]{17}$",
              "type" : "string"
            },
            "type" : "array"
          }
        },
        "required" : [ "shinseiBangos" ],
        "type" : "object"
      },
      "RetrieveShoriJokyoResponse" : {
        "description" : "処理状況照会レスポンス",
        "example" : {
          "results" : [ {
            "tsusu" : 1,
            "uketsukeNengappi" : "2019-05-21T00:00:00+09:00",
            "saishuKoshinNichiji" : "2019-05-21T10:44:15.111+09:00",
            "shinseiBango" : "20190521115801001",
            "shoriJokyo" : 6,
            "nofuJokyo" : 0
          }, {
            "tsusu" : 1,
            "uketsukeNengappi" : "2019-05-21T00:00:00+09:00",
            "saishuKoshinNichiji" : "2019-05-21T10:44:15.111+09:00",
            "shinseiBango" : "20190521115801001",
            "shoriJokyo" : 6,
            "nofuJokyo" : 0
          } ]
        },
        "properties" : {
          "results" : {
            "items" : {
              "$ref" : "#/components/schemas/RetrieveShoriJokyoResponse_results"
            },
            "type" : "array"
          }
        },
        "type" : "object"
      },
      "JuryoJohoResponse" : {
        "description" : "受領通知取得レスポンス",
        "example" : {
          "shogyoHojinKubun" : "9",
          "uketsukeBangos" : [ {
            "edaban1" : "12",
            "edaban2" : "12",
            "homban" : "123456"
          }, {
            "edaban1" : "12",
            "edaban2" : "12",
            "homban" : "123456"
          } ],
          "juryoTsuchi" : "<center><table width=\"100%\" align=\"CENTER\" border=\"0\" cellspacing=\"10\"><tbody><tr><td align=\"CENTER\"><h1>受付のお知らせ</h1></td></tr></tbody></table><hr /></center>"
        },
        "properties" : {
          "juryoTsuchi" : {
            "description" : "受領通知の内容。HTML形式だが、body要素の中身のみ。",
            "example" : "<center><table width=\"100%\" align=\"CENTER\" border=\"0\" cellspacing=\"10\"><tbody><tr><td align=\"CENTER\"><h1>受付のお知らせ</h1></td></tr></tbody></table><hr /></center>",
            "type" : "string"
          },
          "shogyoHojinKubun" : {
            "description" : "商業・法人区分：\n\n- 1 ・・・ 商業\n- 2 ・・・ 法人\n- 9 ・・・ その他\n",
            "example" : "9",
            "pattern" : "^[129]$",
            "type" : "string"
          },
          "uketsukeBangos" : {
            "description" : "受付番号",
            "items" : {
              "$ref" : "#/components/schemas/JuryoJohoResponse_uketsukeBangos"
            },
            "type" : "array"
          }
        },
        "required" : [ "juryoTsuchi", "shogyoHojinKubun", "uketsukeBangos" ],
        "type" : "object"
      },
      "OshiraseResponse" : {
        "description" : "お知らせ取得レスポンス",
        "example" : {
          "oshiraseNichiji" : "2019-05-21T10:44:15.111+09:00",
          "oshiraseKubun" : 1,
          "oshiraseNaiyo" : "お知らせ内容",
          "tempuFileUmu" : false
        },
        "properties" : {
          "oshiraseKubun" : {
            "description" : "お知らせ区分：\n\n- 1 ・・・ 補正通知以外\n- 2 ・・・ 補正通知\n",
            "example" : 1,
            "pattern" : "^[1-2]$",
            "type" : "integer"
          },
          "oshiraseNaiyo" : {
            "description" : "お知らせ内容",
            "example" : "お知らせ内容",
            "type" : "string"
          },
          "oshiraseNichiji" : {
            "description" : "お知らせ発行日時",
            "example" : "2019-05-21T10:44:15.111+09:00",
            "format" : "date-time",
            "type" : "string"
          },
          "tempuFileUmu" : {
            "description" : "添付ファイルの有無。添付ファイルがある時はtrueを、それ以外の時はfalseを返す。",
            "example" : false,
            "type" : "boolean"
          }
        },
        "required" : [ "oshiraseKubun", "oshiraseNaiyo", "oshiraseNichiji", "tempuFileUmu" ],
        "type" : "object"
      },
      "OshiraseTempuResponse" : {
        "description" : "お知らせ添付ファイル取得レスポンス",
        "example" : {
          "result" : "result"
        },
        "properties" : {
          "result" : {
            "description" : "お知らせの添付ファイル。ZIP形式で圧縮されている。",
            "format" : "byte",
            "type" : "string"
          }
        },
        "required" : [ "result" ],
        "type" : "object"
      },
      "KobunshoResponse" : {
        "description" : "公文書取得レスポンス",
        "example" : {
          "result" : "result"
        },
        "properties" : {
          "result" : {
            "description" : "公文書。ZIP形式で圧縮されている。",
            "format" : "byte",
            "type" : "string"
          }
        },
        "required" : [ "result" ],
        "type" : "object"
      },
      "KobunshoDeleteResponse" : {
        "description" : "手続終了レスポンス",
        "example" : {
          "saishuKoshinNichiji" : "2019-05-21T10:44:15.111+09:00",
          "status" : true
        },
        "properties" : {
          "saishuKoshinNichiji" : {
            "description" : "申請案件の最終更新日時",
            "example" : "2019-05-21T10:44:15.111+09:00",
            "format" : "date-time",
            "type" : "string"
          },
          "status" : {
            "description" : "処理結果。手続の終了に成功した場合はtrueを、失敗した場合はfalseを返す。",
            "example" : true,
            "type" : "boolean"
          }
        },
        "required" : [ "status" ],
        "type" : "object"
      },
      "MishikkouResponse" : {
        "description" : "登記識別情報通知・未失効回答取得レスポンス",
        "example" : {
          "oshiraseNichiji" : "2019-05-21T10:44:15.111+09:00",
          "oshiraseKubun" : 3,
          "oshiraseNaiyo" : "お知らせ内容",
          "tempuFileUmu" : false
        },
        "properties" : {
          "oshiraseKubun" : {
            "description" : "お知らせ区分。常に3:未失効回答通知を返す。",
            "example" : 3,
            "pattern" : "^3$",
            "type" : "integer"
          },
          "oshiraseNaiyo" : {
            "description" : "お知らせ内容",
            "example" : "お知らせ内容",
            "type" : "string"
          },
          "oshiraseNichiji" : {
            "description" : "お知らせ発行日時",
            "example" : "2019-05-21T10:44:15.111+09:00",
            "format" : "date-time",
            "type" : "string"
          },
          "tempuFileUmu" : {
            "description" : "添付ファイルの有無。常にfalseを返す。",
            "example" : false,
            "type" : "boolean"
          }
        },
        "required" : [ "oshiraseKubun", "oshiraseNaiyo", "oshiraseNichiji", "tempuFileUmu" ],
        "type" : "object"
      },
      "MishikkouDeleteResponse" : {
        "description" : "登記識別情報通知・未失効回答取得済み通知レスポンス",
        "example" : {
          "saishuKoshinNichiji" : "2019-05-21T10:44:15.111+09:00",
          "status" : true
        },
        "properties" : {
          "saishuKoshinNichiji" : {
            "description" : "申請案件の最終更新日時",
            "example" : "2019-05-21T10:44:15.111+09:00",
            "format" : "date-time",
            "type" : "string"
          },
          "status" : {
            "description" : "処理結果。手続の終了に成功した場合はtrueを、失敗した場合はfalseを返す。",
            "example" : true,
            "type" : "boolean"
          }
        },
        "required" : [ "status" ],
        "type" : "object"
      },
      "EncryptNofuJohoRequest" : {
        "description" : "納付情報暗号化リクエスト",
        "example" : {
          "kakuninBango" : "123456",
          "nofuBango" : "1234567890123456    "
        },
        "properties" : {
          "nofuBango" : {
            "description" : "納付番号 (数字16桁＋英字(空白含む)4桁)",
            "example" : "1234567890123456    ",
            "pattern" : "^[0-9]{16}[a-zA-Z ]{4}$",
            "type" : "string"
          },
          "kakuninBango" : {
            "description" : "確認番号",
            "example" : "123456",
            "pattern" : "^[0-9]{6}$",
            "type" : "string"
          }
        },
        "required" : [ "kakuninBango", "nofuBango" ],
        "type" : "object"
      },
      "EncryptNofuJohoResponse" : {
        "description" : "納付情報暗号化レスポンス",
        "example" : {
          "nofuNichiji" : "2019-05-21T10:44:15.111+09:00",
          "encryptedNofuJoho" : "encryptedNofuJoho",
          "nofuJokyo" : 1
        },
        "properties" : {
          "encryptedNofuJoho" : {
            "description" : "暗号化された納付情報",
            "type" : "string"
          },
          "nofuJokyo" : {
            "description" : "納付状況：\n\n- 0 ・・・ 未登録\n- 1 ・・・ 未納付\n- 2 ・・・ 納付済み\n- 3 ・・・ 納付期限切れ\n- 4 ・・・ 納付取消済み\n",
            "example" : 1,
            "pattern" : "^[0-4]$",
            "type" : "integer"
          },
          "nofuNichiji" : {
            "description" : "納付日時",
            "example" : "2019-05-21T10:44:15.111+09:00",
            "format" : "date-time",
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "ShinseishaResponse" : {
        "description" : "申請者情報取得レスポンス",
        "example" : {
          "shimeiKana" : "ホウムタロウ",
          "shimei" : "法務太郎"
        },
        "properties" : {
          "shimei" : {
            "description" : "氏名",
            "example" : "法務太郎",
            "type" : "string"
          },
          "shimeiKana" : {
            "description" : "氏名カナ",
            "example" : "ホウムタロウ",
            "type" : "string"
          }
        },
        "required" : [ "shimei", "shimeiKana" ],
        "type" : "object"
      },
      "VerifyCertificateRequest" : {
        "description" : "証明書検証リクエスト",
        "example" : {
          "certificate" : "certificate"
        },
        "properties" : {
          "certificate" : {
            "description" : "電子証明書ファイル",
            "format" : "byte",
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "VerifyCertificateResponse" : {
        "description" : "証明書検証レスポンス",
        "example" : {
          "authorityKeyIdentifier" : "KeyIdentifier: CB:EF:3D:EF:83:74:A1:A8:42:F0:3B:40:36:FA:6D:82:94:A9:27:36",
          "certificatePolicies" : "certificatePolicies: certificatePolicy[0]: policyIdentifier: 0.2.440.100145.8.3.1.1.100\\npolicyQualifiers[0]: policyQualifierId: 1.3.6.1.5.5.7.2.1\\nCPS URI: xxx.xxx.xxx.xxx.xxxxxx",
          "verifyResult" : 0,
          "issuerAltName" : "directoryName: OU=テスト官職認証局,O=日本国政府,C=JP",
          "crlDistributionPoints" : "DistributionPoint: directoryName: OU=TestOfficialStatusCA,O=Japanese Government,C=JP",
          "subjectAltName" : "directoryName: CN=テスト用証明書０１Ｂ,OU=テスト省,O=日本国政府,C=JP"
        },
        "properties" : {
          "authorityKeyIdentifier" : {
            "description" : "発行機関証明書識別子 (認証局鍵識別子)",
            "example" : "KeyIdentifier: CB:EF:3D:EF:83:74:A1:A8:42:F0:3B:40:36:FA:6D:82:94:A9:27:36",
            "type" : "string"
          },
          "certificatePolicies" : {
            "description" : "証明書ポリシー",
            "example" : "certificatePolicies: certificatePolicy[0]: policyIdentifier: 0.2.440.100145.8.3.1.1.100\\npolicyQualifiers[0]: policyQualifierId: 1.3.6.1.5.5.7.2.1\\nCPS URI: xxx.xxx.xxx.xxx.xxxxxx",
            "type" : "string"
          },
          "crlDistributionPoints" : {
            "description" : "CRL配布ポイント",
            "example" : "DistributionPoint: directoryName: OU=TestOfficialStatusCA,O=Japanese Government,C=JP",
            "type" : "string"
          },
          "issuerAltName" : {
            "description" : "発行者別名",
            "example" : "directoryName: OU=テスト官職認証局,O=日本国政府,C=JP",
            "type" : "string"
          },
          "subjectAltName" : {
            "description" : "所有者 (サブジェクト) 別名",
            "example" : "directoryName: CN=テスト用証明書０１Ｂ,OU=テスト省,O=日本国政府,C=JP",
            "type" : "string"
          },
          "verifyResult" : {
            "description" : "証明書検証結果：\n\n- 0 ・・・ 認証パスの構築が成功し検証結果が正しい場合\n- 101 ・・・   認証パス構築不可の場合\n- 202 ・・・   認証パス中に署名の誤った証明書が含まれる場合\n- 203 ・・・   認証パス中に失効した証明書が含まれる場合\n- 204 ・・・   認証パス中にPolicy MappingsがAny-Policy に設定された証明書が含まれる場合\n- 205 ・・・   認証パス中にGPKIの各種制約に違反した証明書が含まれる場合\n- 206 ・・・   認証パスにOCSPでのCertStatusがunknownと応答される証明書が含まれる場合\n- 301 ・・・   証明書検証要求に推奨していない暗号アルゴリズムの検証対象証明書が含まれる場合\n- 302 ・・・   証明書検証要求に推奨していない暗号アルゴリズムの中間証明書もしくはトラストアンカーの証明書、又は、その両方が含まれる場合\n- 801 ・・・   商業登記の変更登記受付による保留中の場合\n- 802 ・・・   商業登記の休止申請受付による保留中の場合\n- 803 ・・・   商業登記の変更登記受付・休止申請受付による保留中の場合\n- 901 ・・・   GPKIの証明書検証サーバ側で要求の受付けを拒否した場合\n- 902 ・・・   GPKIの証明書検証サーバにて要求がタイムアウトとなった場合\n- 903 ・・・   証明書検証サーバにてタイムアウトが発生した場合\n- 999 ・・・   証明書に問題がある場合\n",
            "example" : 0,
            "type" : "integer"
          }
        },
        "required" : [ "verifyResult" ],
        "type" : "object"
      },
      "ConfirmBukkenJohoRequest" : {
        "description" : "物件情報確認リクエスト",
        "example" : {
          "continueConfirmBukkenJoho" : false,
          "bukkenJohos" : [ {
            "chibanKaokuBangoJoho" : "何番",
            "chibanKuikiJoho" : "何県何市何丁目",
            "tokishoCode" : "0100",
            "bukkenKubun" : "1",
            "fudosanBango" : "1234567890123",
            "tetsuzukiID" : "HM0501100110001",
            "bukkenShubetsu" : "1",
            "heisaNengappi" : "令和１年５月２１日",
            "bukkenJotai" : "1"
          }, {
            "chibanKaokuBangoJoho" : "何番",
            "chibanKuikiJoho" : "何県何市何丁目",
            "tokishoCode" : "0100",
            "bukkenKubun" : "1",
            "fudosanBango" : "1234567890123",
            "tetsuzukiID" : "HM0501100110001",
            "bukkenShubetsu" : "1",
            "heisaNengappi" : "令和１年５月２１日",
            "bukkenJotai" : "1"
          } ]
        },
        "properties" : {
          "bukkenJohos" : {
            "description" : "物件情報リスト",
            "items" : {
              "$ref" : "#/components/schemas/ConfirmBukkenJohoRequest_bukkenJohos"
            },
            "type" : "array"
          },
          "continueConfirmBukkenJoho" : {
            "description" : "エラー発生時処理続行フラグ。確認エラーとなる物件情報が存在した場合でも最後まで確認処理を継続する場合はtrueを、確認処理を中断する場合はfalseを設定する。",
            "example" : false,
            "type" : "boolean"
          }
        },
        "required" : [ "bukkenJohos", "continueConfirmBukkenJoho" ],
        "type" : "object"
      },
      "ConfirmBukkenJohoResponse" : {
        "description" : "物件情報確認レスポンス",
        "example" : {
          "confirmationErrorUmu" : false,
          "resultCodeList" : [ "000", "000" ],
          "systemErrorUmu" : false
        },
        "properties" : {
          "resultCodeList" : {
            "description" : "確認結果コードリスト。引数で連携された物件情報リストbukkenJohos[]の配列n番目に指定した物件情報の、確認結果コードをstring[]の配列n番目に格納して返却する。なお、１つの物件情報に対し複数の確認結果コードが存在する場合、全ての確認結果コードをカンマ（,）で連結して返却する。（例えば、確認結果コード“202”及び“203”の両方が１つの物件情報に対して存在する場合、“202,203”を返却する）。\n確認結果コードの詳細については「【付録】物件情報確認レスポンス 確認結果コード一覧」を参照\n",
            "items" : {
              "description" : "確認結果コード",
              "example" : "000",
              "type" : "string"
            },
            "type" : "array"
          },
          "confirmationErrorUmu" : {
            "description" : "確認エラー有無。“000”及び“999”以外の確認結果コードが１件以上存在する場合はtrueを、存在しない場合はfalseを返却する。",
            "example" : false,
            "type" : "boolean"
          },
          "systemErrorUmu" : {
            "description" : "システムエラー有無。“999”の確認結果コードが１件以上存在する場合はtrueを、存在しない場合はfalseを返却する。",
            "example" : false,
            "type" : "boolean"
          }
        },
        "required" : [ "confirmationErrorUmu", "resultCodeList", "systemErrorUmu" ],
        "type" : "object"
      },
      "CharacterKosekiResponse" : {
        "description" : "戸籍統一文字検索レスポンス",
        "example" : {
          "unlimitedRecordCount" : 1,
          "characterInfos" : [ {
            "repRadicalCodes" : "06300",
            "yomisForSearch" : "と",
            "image" : "image",
            "morohashiCode" : "11696",
            "kosekiCode" : "131800",
            "kakusus" : "4"
          }, {
            "repRadicalCodes" : "06300",
            "yomisForSearch" : "と",
            "image" : "image",
            "morohashiCode" : "11696",
            "kosekiCode" : "131800",
            "kakusus" : "4"
          } ]
        },
        "properties" : {
          "unlimitedRecordCount" : {
            "description" : "検索でヒットした漢字文字情報の件数。該当する漢字の件数が50件を超える場合、51を固定で返却する。",
            "example" : 1,
            "maximum" : 51,
            "minimum" : 0,
            "type" : "integer"
          },
          "characterInfos" : {
            "description" : "漢字文字情報のリスト。該当する漢字の件数が50件を超える場合、リストには50件分の情報まで格納する。",
            "items" : {
              "$ref" : "#/components/schemas/CharacterKosekiResponse_characterInfos"
            },
            "type" : "array"
          }
        },
        "required" : [ "unlimitedRecordCount" ],
        "type" : "object"
      },
      "CharacterTokiResponse" : {
        "description" : "登記統一文字検索レスポンス",
        "example" : {
          "lastPage" : 1,
          "unlimitedRecordCount" : 1,
          "characterInfos" : [ {
            "repRadicalCodes" : "06300",
            "yomisForSearch" : "と",
            "image" : "image",
            "morohashiCode" : "11696",
            "kosekiCode" : "131800",
            "unicode" : "0U00123F",
            "kakusus" : "4"
          }, {
            "repRadicalCodes" : "06300",
            "yomisForSearch" : "と",
            "image" : "image",
            "morohashiCode" : "11696",
            "kosekiCode" : "131800",
            "unicode" : "0U00123F",
            "kakusus" : "4"
          } ]
        },
        "properties" : {
          "unlimitedRecordCount" : {
            "description" : "検索でヒットした漢字文字情報の件数。",
            "example" : 1,
            "type" : "integer"
          },
          "characterInfos" : {
            "description" : "漢字文字情報（登記統一文字）のリスト。該当する漢字の件数が50件を超える場合、リストには50件分の情報まで格納する。",
            "items" : {
              "$ref" : "#/components/schemas/CharacterTokiResponse_characterInfos"
            },
            "type" : "array"
          },
          "lastPage" : {
            "description" : "最終検索単位数。検索結果を50で割り、切り上げた値を返却する。",
            "example" : 1,
            "minimum" : 0,
            "type" : "integer"
          }
        },
        "required" : [ "lastPage", "unlimitedRecordCount" ],
        "type" : "object"
      },
      "HTTP400" : {
        "description" : "リクエストエラー\n\nパラメータに誤りがある場合等に返却する。\n",
        "properties" : {
          "status" : {
            "description" : "HTTPステータスコード",
            "example" : 400,
            "type" : "integer"
          },
          "title" : {
            "description" : "エラー名称",
            "example" : "Bad Request",
            "type" : "string"
          },
          "errorMessage" : {
            "description" : "エラーメッセージ",
            "example" : "リクエストエラーが発生しました。",
            "type" : "string"
          }
        },
        "required" : [ "errorMessage", "status", "title" ],
        "type" : "object"
      },
      "HTTP401" : {
        "description" : "認証エラー\n\nユーザIDやパスワードに誤りがある場合に返却する。\n",
        "properties" : {
          "status" : {
            "description" : "HTTPステータスコード",
            "example" : 401,
            "type" : "integer"
          },
          "title" : {
            "description" : "エラー名称",
            "example" : "Unauthorized",
            "type" : "string"
          },
          "errorMessage" : {
            "description" : "エラーメッセージ",
            "example" : "認証に失敗しました。",
            "type" : "string"
          }
        },
        "required" : [ "errorMessage", "status", "title" ],
        "type" : "object"
      },
      "HTTP403" : {
        "description" : "アクセス禁止エラー\n\nアクセスが許可されていない場合に返却する。\n",
        "properties" : {
          "status" : {
            "description" : "HTTPステータスコード",
            "example" : 403,
            "type" : "integer"
          },
          "title" : {
            "description" : "エラー名称",
            "example" : "Forbidden",
            "type" : "string"
          },
          "errorMessage" : {
            "description" : "エラーメッセージ",
            "example" : "アクセス許可がありません。",
            "type" : "string"
          }
        },
        "required" : [ "errorMessage", "status", "title" ],
        "type" : "object"
      },
      "HTTP404" : {
        "description" : "存在エラー\n\n指定した対象のリソースが存在しない場合に返却する。\n",
        "properties" : {
          "status" : {
            "description" : "HTTPステータスコード",
            "example" : 404,
            "type" : "integer"
          },
          "title" : {
            "description" : "エラー名称",
            "example" : "Not Found",
            "type" : "string"
          },
          "errorMessage" : {
            "description" : "エラーメッセージ",
            "example" : "リソースが存在しません。",
            "type" : "string"
          }
        },
        "required" : [ "errorMessage", "status", "title" ],
        "type" : "object"
      },
      "HTTP500" : {
        "description" : "サーバエラー\n\nサーバ内でエラーが発生した場合に返却する。  \n",
        "properties" : {
          "status" : {
            "description" : "HTTPステータスコード",
            "example" : 500,
            "type" : "integer"
          },
          "title" : {
            "description" : "エラー名称",
            "example" : "Internal Server Error",
            "type" : "string"
          },
          "errorMessage" : {
            "description" : "エラーメッセージ",
            "example" : "サーバ内部でエラーが発生しました。",
            "type" : "string"
          }
        },
        "required" : [ "errorMessage", "status", "title" ],
        "type" : "object"
      },
      "HTTP503" : {
        "description" : "サービス時間外エラー\n\nサービス時間外の際に返却する。\n",
        "properties" : {
          "status" : {
            "description" : "HTTPステータスコード",
            "example" : 503,
            "type" : "integer"
          },
          "title" : {
            "description" : "エラー名称",
            "example" : "Service unavailable",
            "type" : "string"
          },
          "errorMessage" : {
            "description" : "エラーメッセージ",
            "example" : "サービス利用時間外です。",
            "type" : "string"
          }
        },
        "required" : [ "errorMessage", "status", "title" ],
        "type" : "object"
      },
      "SubmitRenkenResponse_results" : {
        "example" : {
          "saishuKoshinNichiji" : "2019-05-21T10:44:15.111+09:00",
          "shinseiBango" : "20190521115801001"
        },
        "properties" : {
          "saishuKoshinNichiji" : {
            "description" : "申請案件の最終更新日時。最後の申請案件の送信時に全ての申請案件分値を設定する。",
            "example" : "2019-05-21T10:44:15.111+09:00",
            "format" : "date-time",
            "type" : "string"
          },
          "shinseiBango" : {
            "description" : "申請案件の申請番号。最後の申請案件の送信時に全ての申請案件分値を設定する。",
            "example" : "20190521115801001",
            "pattern" : "^[0-9]{17}$",
            "type" : "string"
          }
        },
        "required" : [ "saishuKoshinNichiji", "shinseiBango" ]
      },
      "SubmitDoujiResponse_results" : {
        "example" : {
          "saishuKoshinNichiji" : "2019-05-21T10:44:15.111+09:00",
          "shinseiBango" : "20190521115801001"
        },
        "properties" : {
          "saishuKoshinNichiji" : {
            "description" : "申請案件の最終更新日時。最後の申請案件の送信時に全ての申請案件分値が設定される。",
            "example" : "2019-05-21T10:44:15.111+09:00",
            "format" : "date-time",
            "type" : "string"
          },
          "shinseiBango" : {
            "description" : "申請案件の申請番号。最後の申請案件の送信時に全ての申請案件分値が設定される。",
            "example" : "20190521115801001",
            "pattern" : "^[0-9]{17}$",
            "type" : "string"
          }
        },
        "required" : [ "saishuKoshinNichiji", "shinseiBango" ]
      },
      "NofuJohoResponse_results" : {
        "example" : {
          "kakuninBango" : "123456",
          "nofuGaku" : 500,
          "shunoKikanBango" : "00100",
          "nofuKikanSaishuNengappi" : "2019-05-21T00:00:00+09:00",
          "nofuJohoHakkoNichiji" : "2019-05-21T00:00:00+09:00",
          "nofuNichiji" : "2019-05-21T00:00:00+09:00",
          "nofuBango" : "1234567890123456    ",
          "nofuJokyo" : 0
        },
        "properties" : {
          "kakuninBango" : {
            "description" : "確認番号",
            "example" : "123456",
            "pattern" : "^[0-9]{6}$",
            "type" : "string"
          },
          "nofuBango" : {
            "description" : "納付番号 (数字16桁＋英字(空白含む)4桁)",
            "example" : "1234567890123456    ",
            "pattern" : "^[0-9]{16}[a-zA-Z ]{4}$",
            "type" : "string"
          },
          "nofuGaku" : {
            "description" : "納付額",
            "example" : 500,
            "format" : "int64",
            "type" : "integer"
          },
          "nofuJohoHakkoNichiji" : {
            "description" : "納付情報発行日時",
            "example" : "2019-05-21T00:00:00+09:00",
            "format" : "date-time",
            "type" : "string"
          },
          "nofuJokyo" : {
            "description" : "納付状況：\n\n- 0 ・・・ 未登録\n- 1 ・・・ 未納付\n- 2 ・・・ 納付済み\n- 3 ・・・ 納付期限切れ\n- 4 ・・・ 納付取消済み\n",
            "pattern" : "^[0-4]$",
            "type" : "integer"
          },
          "nofuKikanSaishuNengappi" : {
            "description" : "納付期間最終年月日",
            "example" : "2019-05-21T00:00:00+09:00",
            "format" : "date-time",
            "type" : "string"
          },
          "nofuNichiji" : {
            "description" : "納付済み通知日時。\n\n供託申請の場合、利用者が納付を行った時点の領収年月日を返却する（時分秒は「00:00:00」で返却する）\n\nその他申請の場合、歳入金電子納付システムから領収済み通知を受けた日時を返却する（利用者が納付を行った時点の日時ではないことに留意すること）\n\n※納付済みでない場合、納付済み通知日時は返却しない。\n",
            "example" : "2019-05-21T00:00:00+09:00",
            "format" : "date-time",
            "type" : "string"
          },
          "shunoKikanBango" : {
            "description" : "収納機関番号",
            "example" : "00100",
            "pattern" : "^[0-9]{5}$",
            "type" : "string"
          }
        },
        "required" : [ "nofuJokyo" ]
      },
      "RetrieveShoriJokyoResponse_results" : {
        "example" : {
          "tsusu" : 1,
          "uketsukeNengappi" : "2019-05-21T00:00:00+09:00",
          "saishuKoshinNichiji" : "2019-05-21T10:44:15.111+09:00",
          "shinseiBango" : "20190521115801001",
          "shoriJokyo" : 6,
          "nofuJokyo" : 0
        },
        "properties" : {
          "nofuJokyo" : {
            "description" : "納付状況：\n\n  - 0 ・・・ 未登録\n  - 1 ・・・ 未納付\n  - 2 ・・・ 納付済み\n  - 3 ・・・ 納付期限切れ\n  - 4 ・・・ 納付取消済み\n",
            "pattern" : "^[0-4]$",
            "type" : "integer"
          },
          "saishuKoshinNichiji" : {
            "description" : "申請案件の最終更新日時",
            "example" : "2019-05-21T10:44:15.111+09:00",
            "format" : "date-time",
            "type" : "string"
          },
          "shinseiBango" : {
            "description" : "申請番号",
            "example" : "20190521115801001",
            "pattern" : "^[0-9]{17}$",
            "type" : "string"
          },
          "shoriJokyo" : {
            "description" : "処理状況:\n\n- 20 ・・・ 到達待ち\n- 21 ・・・ 意思確認中\n- 22 ・・・ 到達・受付待ち\n- 23 ・・・ 到達・受付待ち\n- 30 ・・・ 受付完了\n- 31 ・・・ 審査中\n- 32 ・・・ 処理中\n- 33 ・・・ 取下中\n- 40 ・・・ 審査中 (補正待ち)\n- 41 ・・・ 審査中 (補正中)\n- 42 ・・・ 審査中 (補正済み)\n- 49 ・・・ 審査完了 (却下)\n- 50 ・・・ 審査終了\n- 51 ・・・ 手続終了\n- 52 ・・・ 取下完了\n- 53 ・・・ 中止/却下\n- 54 ・・・ 失効\n",
            "pattern" : "^[0-9]{2}$",
            "type" : "integer"
          },
          "tsusu" : {
            "description" : "お知らせの通数。登記識別情報通知・未失効照会の手続に対して本照会を行った場合、お知らせの通数には登記識別情報通知・未失効回答取得のお知らせは含まれない。",
            "example" : 1,
            "maximum" : 9999,
            "minimum" : 0,
            "type" : "integer"
          },
          "uketsukeNengappi" : {
            "description" : "受付年月日",
            "example" : "2019-05-21T00:00:00+09:00",
            "format" : "date-time",
            "type" : "string"
          }
        },
        "required" : [ "saishuKoshinNichiji", "shinseiBango", "shoriJokyo", "tsusu" ]
      },
      "JuryoJohoResponse_uketsukeBangos" : {
        "example" : {
          "edaban1" : "12",
          "edaban2" : "12",
          "homban" : "123456"
        },
        "properties" : {
          "edaban1" : {
            "description" : "枝番１",
            "example" : "12",
            "pattern" : "^[0-9]{2}$",
            "type" : "string"
          },
          "edaban2" : {
            "description" : "枝番２",
            "example" : "12",
            "pattern" : "^[0-9]{2}$",
            "type" : "string"
          },
          "homban" : {
            "description" : "本番",
            "example" : "123456",
            "pattern" : "^[0-9]{6}$",
            "type" : "string"
          }
        },
        "required" : [ "edaban1", "edaban2", "homban" ]
      },
      "ConfirmBukkenJohoRequest_bukkenJohos" : {
        "example" : {
          "chibanKaokuBangoJoho" : "何番",
          "chibanKuikiJoho" : "何県何市何丁目",
          "tokishoCode" : "0100",
          "bukkenKubun" : "1",
          "fudosanBango" : "1234567890123",
          "tetsuzukiID" : "HM0501100110001",
          "bukkenShubetsu" : "1",
          "heisaNengappi" : "令和１年５月２１日",
          "bukkenJotai" : "1"
        },
        "properties" : {
          "bukkenKubun" : {
            "description" : "物件区分。手続IDが“HM0504000100001”（登記識別情報に関する証明請求書（有効証明））、“HM0504000200001”（登記識別情報に関する証明請求書（不通知・失効証明））又は“HM0504000300001”（登記識別情報通知・未失効照会）かつ物件指定が所在の場合、必須項目。それ以外の場合は設定不可。（半角）\n\n- 1 ・・・ 土地\n- 2 ・・・ 建物\n",
            "example" : "1",
            "type" : "string"
          },
          "bukkenShubetsu" : {
            "description" : "物件種別。手続IDの上7桁が“HM05011”（登記申請書（表示に関する登記））、“HM05012”（登記申請書（権利に関する登記））、“HM05021”（登記嘱託書（表示に関する登記））、“HM05022”（登記嘱託書（権利に関する登記））、“HM05081”（書面提出用登記申請書（表示に関する登記））、“HM05082”（書面提出用登記申請書（権利に関する登記））、“HM05091”（書面提出用登記嘱託書（表示に関する登記））又は“HM05092”（書面提出用登記嘱託書（権利に関する登記））であるか、手続IDが“offerform”（登記識別情報提供様式）の場合、かつ物件指定が所在の場合、必須項目。それ以外の場合は設定不可。（半角）\n\n- 1 ・・・ 土地\n- 2 ・・・ 建物\n- E ・・・ 区分建物（専有）\n",
            "example" : "1",
            "type" : "string"
          },
          "bukkenJotai" : {
            "description" : "物件状態。物件指定が所在の場合、必須項目。それ以外の場合は設定不可。（半角）\n\n- 1 ・・・ 既存\n- 2 ・・・ 閉鎖\n",
            "example" : "1",
            "type" : "string"
          },
          "chibanKuikiJoho" : {
            "description" : "地番区域情報。物件指定が所在の場合、必須項目。物件指定が不動産番号の場合は設定不可。",
            "example" : "何県何市何丁目",
            "type" : "string"
          },
          "chibanKaokuBangoJoho" : {
            "description" : "地番／家屋番号情報。物件指定が所在の場合、必須項目。物件指定が不動産番号の場合は設定不可。",
            "example" : "何番",
            "type" : "string"
          },
          "fudosanBango" : {
            "description" : "不動産番号。物件指定が不動産番号の場合、必須項目。物件指定が所在の場合は設定不可。",
            "example" : "1234567890123",
            "pattern" : "^[0-9]{13}$",
            "type" : "string"
          },
          "heisaNengappi" : {
            "description" : "閉鎖年月日",
            "example" : "令和１年５月２１日",
            "type" : "string"
          },
          "tokishoCode" : {
            "description" : "登記所コード。",
            "example" : "0100",
            "pattern" : "^[0-9]{4}$",
            "type" : "string"
          },
          "tetsuzukiID" : {
            "description" : "手続ID",
            "example" : "HM0501100110001",
            "type" : "string"
          }
        }
      },
      "CharacterKosekiResponse_characterInfos" : {
        "example" : {
          "repRadicalCodes" : "06300",
          "yomisForSearch" : "と",
          "image" : "image",
          "morohashiCode" : "11696",
          "kosekiCode" : "131800",
          "kakusus" : "4"
        },
        "properties" : {
          "yomisForSearch" : {
            "description" : "漢字の読み。複数存在する場合は、カンマ区切り。",
            "example" : "と",
[...]
